PORT=3300

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=ct313h_projects
# https://app.sendgrid.com/guide/integrate/langs/smtp
SENDGRID_API_KEY=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
EMAIL_OF_API = 'dinhthongchau@gmail.com'
